{% extends 'layout.html' %}

{% block header %}
  {% include 'page-header.html' with page="Property Detail" page_detail="PROPERTY DETAIL" image="img/image.jpg"%}
{% endblock header %}

{% block body %}
<section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->
            <div class="aa-properties-details">
             <div class="aa-properties-details-img">
               {% for image in property.property_images.all %}
                <img src={{image.image.url}} alt="img">
               {% endfor %}
               
             </div>
             <div class="aa-properties-info">
               <h2>{{property.title}}</h2>
               <span class="aa-price">${{property.price}}</span>
               <p>{{property.description}}</p>
               <h4>Propery Features</h4>
               <ul>
                 <li>{{property.bedroom_count}} Bedroom</li>
                 <li>{{property.bath_count}} Baths</li>
                 {% if property.have_kitchen %}
                 <li>Kitchen</li>
                 {% endif %}
                 {% if property.have_air_condition %}
                 <li>Air Condition</li>
                 {% endif %}
                 {% if property.have_belcony %}
                 <li>Belcony</li>
                 {% endif %}
                 {% if property.have_gym %}
                 <li>Gym</li>
                 {% endif %}
                 {% if property.have_garden %}
                 <li>Garden</li>
                 {% endif %}
                 {% if property.have_cctv %}
                 <li>CCTV</li>
                 {% endif %}
                 {% if property.have_children_playground %}
                 <li>Children Play Ground</li>
                 {% endif %}
                 {% if property.have_community_center %}
                 <li>Comunity Center</li>
                 {% endif %}
                 {% if property.have_security %}
                 <li>Security System</li>
                 {% endif %}
               </ul>
               {% if property.video %}
               <h4>Property Video</h4>
               
               <video style="width: 100%; height: 400px;" controls>
                <source src="{{property.video.url}}">
               </video>
               {% endif %}
               {% comment %} <iframe width="100%" height="480" src="https://www.youtube.com/embed/CegXQps0In4" frameborder="0" allowfullscreen></iframe>
               
               <h4>Property Map</h4>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6851.201919469417!2d-86.11773906635584!3d33.47324776828677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888bdb60cc49c571%3A0x40451ca6baf275c7!2s36008+AL-77%2C+Talladega%2C+AL+35160%2C+USA!5e0!3m2!1sbn!2sbd!4v1460452919256" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> {% endcomment %}
             </div>
             <!-- Properties social share -->
             <div class="aa-properties-social">
               <ul>
                 <li>Share</li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
               </ul>
             </div>
             <!-- Nearby properties -->
             <div class="aa-nearby-properties">
               <div class="aa-title">
                 <h2>Nearby Properties</h2>
                 <span></span>
               </div>
               <div class="aa-nearby-properties-area">
                 <div class="row">
                {% for property in nearby_properties %}
                   <div class="col-md-6">
                        {% include 'utils/property_item.html' with property=property  %}
                   </div>
                {% endfor %}
                 </div>
               </div>

             </div>

            </div>           
          </div>
        </div>
        <!-- Start properties sidebar -->
        {% include "utils/sidebar.html" %}
{% endblock body %}

