{% load static %}
<section id="aa-property-header" style="background-image: url({% static image %}) !important">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>{{page_detail}}</h2>
            <ol class="breadcrumb">
            <li><a href={% url 'home' %}>HOME</a></li>            
            <li class="active">{{page}}</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 